// 宽度
.w80 {
  width: 80px;
}
.w96 {
  width: 96px;
}

.w200 {
  width: 200px;
}
.w240 {
  width: 240px;
}
.p0 {
  padding: 0;
}
.mt12 {
  margin-top: 12px;
}
.mt-3 {
  margin-top: -3px;
}
// 间距--下
.mb8 {
  margin-bottom: 8px;
}

// 间距 右
.mr4 {
  margin-right: 4px;
}
.mr12 {
  margin-right: 12px;
}

.ml12 {
  margin-left: 12px;
}
.ml32 {
  margin-left: 32px;
}
.ml40 {
  margin-left: 40px;
}
.ml45 {
  margin-left: 45px;
}
.f14 {
  font-size: 14px;
}
.pl9 {
  padding-left: 9px;
}
@mixin common-space_line($height: 12px, $space: 8px, $color: #dfdfdf) {
  position: relative;
  padding-left: 2 * $space;

  &::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: $height;
    width: 1px;
    background: $color;
  }
}
